#main {
    background: #666;
    display: flex;
    flex-direction: row;
}

#main>div {
    height: 150px;
    width: 50px;
    background: red;
    align-self: auto;
    margin: 5px;
    display: block;
    justify-content: flex-end;
}